@import "variables";
@import "mixins";


@mixin box-sizing($value) {
    -moz-box-sizing: $value;
    -webkit-box-sizing: $value;
    box-sizing: $value;
}

@mixin text-size-adjust {
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

@mixin mq-min($width) {
    @media screen and (min-device-width: $width) {
        @content;
    }
}

@mixin mq-max($width) {
    @media screen and (max-device-width: $width) {
        @content;
    }
}

@mixin mq-min-max($min-width, $max-width) {
    @media screen and (min-width: $min-width) and (max-width: $max-width) {
        @content;
    }
}

* { @include box-sizing(border-box); }

// *1: Specifies a size adjustment for displaying text content on smartphones.
// *2: Improve text-rendering in Webkit browsers and firefox on OSX.
:root {
    @include text-size-adjust; // *2
    position: relative;
    height: 100%;
    min-height: 100%;
    font-family: $font-main;
    -webkit-font-smoothing: antialiased; // *2
    -moz-osx-font-smoothing: grayscale; // *2
    color: $c-text;
}

body {
    height: 100%;
    margin: 0;
    font-size: 1.8rem;
    line-height: 2.2rem;
}

p {
    margin-top: 0;
    margin-bottom: 1.5rem;
}

a {
    @include transition(color 0.25s);
    color: $c-main;

    &:hover { color: $c-hover; }

    h2 &,
    h3 &,
    h4 &,
    h5 &,
    h6 & { text-decoration: none; }
}

%generic-h {
    margin-top: 0;
    font-weight: normal;
    color: $c-main;
    line-height: 100%;
}

// Generate headings
@for $i from 1 through 6 {
    h#{$i} {
        @extend %generic-h;
    }
}

h1,
h2 { margin-bottom: 1.5rem; }

h3,
h4,
h5,
h6 { margin-bottom: 0; }

.visualwrapper {
    width: 100%;
    max-width: 1200px;
    min-height: 100%;
    margin: 0 auto;
    padding: 2rem 8rem;
    background-color: #fff;
}

// Just an example of elm which are positioned on the left or right of the window
.tooltip-example {
    &-right {
        position: absolute;
        top: 0;
        right: 0;
    }

    &-left {
        position: absolute;
        top: 50%;
        left: 0;
    }
}

.overflow-test {
    height: 35px;
    overflow: hidden;
    background-color: rgba(#ccc, 0.5);
}

@include mq-max(600px) {
    @for $i from 1 through 6 {
        h#{$i} {
            @if ($i == 1) {
                font-size: 3.6rem;
            } @else {
                font-size: 3.2rem - (3 * $i / 10);
            }
        }
    }
}

@include mq-min(900px) {

    body { font-size: 1.8rem; }

    @for $i from 1 through 6 {
        h#{$i} {
            @if ($i == 1) {
                font-size: 4.6rem;
            } @else {
                font-size: 3.8rem - (3 * $i / 10);
            }
        }
    }
}

@import "fonts";
