@mixin keyframes($anim-name) {
    @keyframes #{$anim-name} {
        @content;
    }
    @-webkit-keyframes #{$anim-name} {
        @content;
    }
}

@mixin animation($values...) {
    // name, duration, timing-function, delay, direction, iteration-count, fill-mode, play-state
    -webkit-animation: $values;
    animation: $values;
}

@mixin animation-play-state($value) {
    -webkit-animation-play-state: $value;
    animation-play-state: $value;
}
